// inline-block span
.ibs {
  display: inline-block;
}
// change cursor hand
.c-p {
  cursor: pointer;
}
// change cursor hand & hover underline
.c-p-line {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
// over hide & text ...
.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
// define font-size
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
// a small component
.drag-point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: whitesmoke;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    background-color: #bb1d08;
  }

  &:hover {
    background-color: #fff;
    box-shadow: 0 0 2px 1px #fff;
  }
}

.smoth-scroll {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.transition-fade {
  &-enter-active {
    transition: all .3s ease;
  }
  &-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
