@content-width: 980px;

@iPlaybar: "~@/assets/images/playbar.png";

.bg-pbar() {
  background: url(@iPlaybar) no-repeat 0 9999px;
}

.bg-pbar-x() {
  background: url(@iPlaybar) repeat-x 0 9999px;
}

.bg-pbar-y() {
  background: url(@iPlaybar) repeat-y 0 9999px;
}
