@content-width: 980px;

@iPlaybar: "~@/assets/images/playbar.png";
@iPlaylisticons: "~@/assets/images/playlisticons.png";

@main-red: #c20002;

.bg-pbar() {
  background: url(@iPlaybar) no-repeat 0 9999px;
}

.bg-pbar-x() {
  background: url(@iPlaybar) repeat-x 0 9999px;
}

.bg-pbar-y() {
  background: url(@iPlaybar) repeat-y 0 9999px;
}

// reset tag a
.set-a(
  @color: #aaa,
  @h-color: @color,
  @a-color: @color,
  @t-decoration: none
) {
  color: @color;
  text-decoration: @t-decoration;

  &:hover {
    color: @h-color;
    text-decoration: underline;
  }

  &:active {
    color: @a-color;
  }
}
// remove hover underline
.rm-hover-underline() {
  &:hover {
    text-decoration: none;
  }
}